# List all files colorized in long format, including dot files
alias la="ls -Gla"

# Show/hide hidden files in Finder
alias showdots="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder && echo 'Showing Hidden Files'"
alias hidedots="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder && echo 'Hiding Hidden Files'"

# Bundle Exec
alias be="bundle exec"

# Docker Compose
alias dc="docker-compose"
